dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/
*.fir
*.anno.json
*.cache
*.class
*.out
report*
*.pdf
images/
Ripes-v2.1.0-linux-x86_64.AppImage
rars_0695981.jar